ADF/pipeline/EXT_1_NuuDL_Columbus_PROD_LID_AFT.json
{
	"name": "EXT_1_NuuDL_Columbus_PROD_LID_AFT",
	"properties": {
		"activities": [
			{
				"name": "Update_Meta_Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[nuuMeta].[UpdateSourceTables]",
					"storedProcedureParameters": {
						"SourceConnectionName": {
							"value": "NuuDL_Columbus",
							"type": "String"
						},
						"SourceConnectionType": {
							"value": "AzureDatabricksDeltaLake",
							"type": "String"
						},
						"SourceSchemaName": {
							"value": "cu",
							"type": "String"
						},
						"SourceObjectName": {
							"value": "PROD_LID_AFT",
							"type": "String"
						},
						"DestinationSchemaName": {
							"value": "sourceNuudlColumbus",
							"type": "String"
						},
						"WatermarkColumnName": {
							"value": "NUUDL_CuratedBatchID",
							"type": "String"
						},
						"WatermarkIsDate": {
							"value": "False",
							"type": "Boolean"
						},
						"WatermarkRollingWindowDays": {
							"value": "0",
							"type": "Int32"
						},
						"WatermarkInQuery": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "nuudwsqldb01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup_Last_Value_Loaded",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update_Meta_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[nuuMeta].[GetLastValueLoaded]",
						"storedProcedureParameters": {
							"SourceConnectionName": {
								"type": "String",
								"value": "NuuDL_Columbus"
							},
							"SourceSchemaName": {
								"type": "String",
								"value": "cu"
							},
							"SourceTableName": {
								"type": "String",
								"value": "PROD_LID_AFT"
							},
							"JobIsIncremental": {
								"type": "Boolean",
								"value": {
									"value": "@pipeline().parameters.JobIsIncremental",
									"type": "Expression"
								}
							},
							"ConnectionType": {
								"type": "String",
								"value": "AzureDatabricksDeltaLake"
							},
							"WatermarkIsDate": {
								"type": "Boolean",
								"value": "False"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "nuudwsqldb01_DynamicDataset",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "nuuMeta.SourceObjects"
						}
					}
				}
			},
			{
				"name": "Copy_PROD_LID_AFT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Last_Value_Loaded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "\nSELECT \n`NUUDL_SourceCreated` \n,`NUUDL_SourceUpdated` \n,`ABONNEMENT_ID` \n,`AENDRINGSSTATUS` \n,`AFSAET_KODE` \n,`ANTAL_PRODUKT` \n,`ARBITRAER_PRIS` \n,`B_SLUT_DATO` \n,`FUNKTIONS_NR` \n,`IDRIFT_MRK` \n,`KUNDE_PRIS_AFT_NO` \n,`LID_LOEBE_ID` \n,`ORDRE_NR_OPR` \n,`PROD_LID_AFT_ID` \n,`PRODUKT_ELM_NR` \n,`PRODUKT_GRP_NR` \n,`RABAT_LOEB` \n,`RABAT_LOEB_SAT` \n,`REGNINGS_BEM` \n,`SIDST_OPD_INIT` \n,`SIDST_OPD_TSTMP` \n,`START_DATO` \n,`TEKST_MRK` \n,`UNDERLEV_ID` \n,`NUUDL_ID` \n,`NUUDL_ValidFrom` \n,`NUUDL_ValidTo` \n,`NUUDL_IsCurrent` \n,`BIZ_BatchCreatedID` \n,`BIZ_BatchUpdatedID` \n,`NUUDL_PKLatest` \n,`K_MRK_DATO` \n,`NUUDL_CuratedBatchID` \n \nFROM cu.`PROD_LID_AFT`\n WHERE NUUDL_ValidTo>='2017-01-01' AND NUUDL_CuratedBatchID > '@{activity('Lookup_Last_Value_Loaded').output.firstRow.LastValueLoaded}'",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "AzureDatabricksDeltaLakeExportCommand"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBatchSize": {
							"value": "@pipeline().parameters.WriteBatchSize",
							"type": "Expression"
						},
						"preCopyScript": "TRUNCATE TABLE [sourceNuudlColumbus].[PROD_LID_AFT]"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "datalakest01exploration",
							"type": "LinkedServiceReference"
						},
						"path": "adfstage"
					}
				},
				"inputs": [
					{
						"referenceName": "NuuDL_Columbus_DynamicDataset",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "cu.PROD_LID_AFT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "nuudwsqldb01_DynamicDataset",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "[sourceNuudlColumbus].[PROD_LID_AFT]"
						}
					}
				]
			},
			{
				"name": "Merge_To_History",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_PROD_LID_AFT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[nuuMeta].[LoadSourceObjectHistory]",
					"storedProcedureParameters": {
						"ExtractTable": {
							"value": "sourceNuudlColumbus.PROD_LID_AFT",
							"type": "String"
						},
						"LoadIsIncremental": {
							"value": {
								"value": "@pipeline().parameters.JobIsIncremental",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"HistoryTrackingColumns": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "nuudwsqldb01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_Last_Value_Loaded",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Merge_To_History",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[nuuMeta].[SetLastLoadedValue]",
					"storedProcedureParameters": {
						"SourceConnectionName": {
							"value": "NuuDL_Columbus",
							"type": "String"
						},
						"SourceSchemaName": {
							"value": "cu",
							"type": "String"
						},
						"SourceTableName": {
							"value": "PROD_LID_AFT",
							"type": "String"
						},
						"WatermarkIsDate": {
							"value": "False",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "nuudwsqldb01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"JobIsIncremental": {
				"type": "Bool",
				"defaultValue": true
			},
			"WriteBatchSize": {
				"type": "Int",
				"defaultValue": 10000
			}
		},
		"folder": {
			"name": "0.1_Extracts"
		},
		"annotations": []
	}
}