ADF/pipeline/EXT_1_Nuudl_NetCracker_billsummary.json
{
  "name": "EXT_1_Nuudl_NetCracker_billsummary",
  "properties": {
    "activities": [
      {
        "name": "Update_Meta_Tables",
        "type": "SqlServerStoredProcedure",
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "storedProcedureName": "[nuuMeta].[UpdateSourceTables]",
          "storedProcedureParameters": {
            "SourceConnectionName": {
              "value": "Nuudl_NetCracker",
              "type": "String"
            },
            "SourceConnectionType": {
              "value": "AzureDatabricksDeltaLake",
              "type": "String"
            },
            "SourceSchemaName": {
              "value": "netcracker",
              "type": "String"
            },
            "SourceObjectName": {
              "value": "billsummary",
              "type": "String"
            },
            "DestinationSchemaName": {
              "value": "sourceNuudlNetCracker",
              "type": "String"
            },
            "WatermarkColumnName": {
              "value": "NUUDL_CuratedBatchID",
              "type": "String"
            },
            "WatermarkIsDate": {
              "value": "False",
              "type": "Boolean"
            },
            "WatermarkRollingWindowDays": {
              "value": "0",
              "type": "Int32"
            },
            "WatermarkInQuery": {
              "value": "",
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "nuudwsqldb01",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Lookup_Last_Value_Loaded",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Update_Meta_Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "SqlSource",
            "sqlReaderStoredProcedureName": "[nuuMeta].[GetLastValueLoaded]",
            "storedProcedureParameters": {
              "SourceConnectionName": {
                "value": "Nuudl_NetCracker",
                "type": "String"
              },
              "SourceSchemaName": {
                "value": "netcracker",
                "type": "String"
              },
              "SourceTableName": {
                "value": "billsummary",
                "type": "String"
              },
              "JobIsIncremental": {
                "value": "@pipeline().parameters.JobIsIncremental",
                "type": "Boolean"
              },
              "ConnectionType": {
                "value": "AzureDatabricksDeltaLake",
                "type": "String"
              },
              "WatermarkIsDate": {
                "value": "False",
                "type": "Boolean"
              }
            }
          },
          "dataset": {
            "referenceName": "nuudwsqldb01_DynamicDataset",
            "type": "DatasetReference",
            "parameters": {
              "TableName": "nuuMeta.SourceObjects"
            }
          }
        }
      },
      {
        "name": "Copy_billsummary",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Lookup_Last_Value_Loaded",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "AzureDatabricksDeltaLakeSource",
            "query": {
              "value": "\r\nSELECT \r\n`account_num` \r\n,`bill_seq` \r\n,`bill_dtm` \r\n,`bill_type_id` \r\n,`balance_fwd_mny` \r\n,`invoice_net_mny` \r\n,`invoice_tax_mny` \r\n,`payments_mny` \r\n,`failed_payments_mny` \r\n,`adjustments_mny` \r\n,`refunds_mny` \r\n,`balance_out_mny` \r\n,`ebd_email_status` \r\n,`points_fwd` \r\n,`points_earned` \r\n,`points_adjusted` \r\n,`points_redeemed` \r\n,`points_out` \r\n,`trans_billed_to_dtm` \r\n,`event_billed_to_dtm` \r\n,`tax_point_dat` \r\n,`outstanding_debt_mny` \r\n,`chase_debt_mny` \r\n,`current_dispute_mny` \r\n,`modification_days` \r\n,`credit_adj_billed_to_dtm` \r\n,`debit_adj_billed_to_dtm` \r\n,`loyalty_trans_billed_to_dtm` \r\n,`event_seq` \r\n,`info_invoice_mny` \r\n,`info_currency_code` \r\n,`statement_boo` \r\n,`bill_settled_boo` \r\n,`event_archive_status` \r\n,`invoice_num` \r\n,`actual_bill_dtm` \r\n,`start_of_bill_dtm` \r\n,`bill_version` \r\n,`bill_status` \r\n,`cancellation_request_dat` \r\n,`cancellation_dtm` \r\n,`replaces_invoice_num` \r\n,`billed_with_bill_seq` \r\n,`cancelled_reason_txt` \r\n,`archive_dat` \r\n,`invoice_num_status` \r\n,`invoice_register_id` \r\n,`charge_seq` \r\n,`debt_start_dat` \r\n,`payment_due_dat` \r\n,`bill_handling_code` \r\n,`ocr_num` \r\n,`bill_settled_dtm` \r\n,`event_masked_boo` \r\n,`bill_label` \r\n,`event_del_no_archive_boo` \r\n,`min_billed_event_dtm` \r\n,`max_billed_event_dtm` \r\n,`min_rerated_event_dtm` \r\n,`max_rerated_event_dtm` \r\n,`discounted_rerating_boo` \r\n,`domain_id` \r\n,`ust_currency_code` \r\n,`random_hash` \r\n,`collection_notify_boo` \r\n,`adfg_processed_dtm` \r\n,`billing_offer_id` \r\n,`otc_mny` \r\n,`otc_billed_to_dtm` \r\n,`override_bill_dtm` \r\n,`late_fee_mny` \r\n,`oefr_created_boo` \r\n,`pa_dp_invoice_bill_mny` \r\n,`pa_fed_invoice_due_mny` \r\n,`pa_fed_invoice_bill_mny` \r\n,`pa_payment_mny` \r\n,`points_expired` \r\n,`fde_extract_id` \r\n,`ust_linesandlocs_detail_level` \r\n,`ust_linesandlocs_billed_to_dat` \r\n,`ust_maxtax_transaction_status` \r\n,`orig_payment_due_dat` \r\n,`expected_payreq_mny` \r\n,`deposit_req_billed_to_dtm` \r\n,`allocated_dep_bal_mny` \r\n,`bill_enrichment_status` \r\n,`settlement_dtm` \r\n,`invoice_reg_status` \r\n,`invoice_series_id` \r\n,`hash_value` \r\n,`hash_control` \r\n,`NUUDL_ValidFrom` \r\n,`NUUDL_ValidTo` \r\n,`NUUDL_IsCurrent` \r\n,`NUUDL_ID` \r\n,`NUUDL_CuratedBatchID` \r\n \r\nFROM @{activity('Lookup_Source_Schema_Name').output.firstRow.SourceSchemaName}.`billsummary`\r\n WHERE NUUDL_CuratedBatchID > '@{activity('Lookup_Last_Value_Loaded').output.firstRow.LastValueLoaded}'",
              "type": "Expression"
            },
            "exportSettings": {
              "type": "AzureDatabricksDeltaLakeExportCommand"
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "writeBatchSize": "@pipeline().parameters.WriteBatchSize",
            "preCopyScript": "TRUNCATE TABLE [sourceNuudlNetCracker].[billsummary]"
          },
          "enableStaging": true,
          "stagingSettings": {
            "linkedServiceName": {
              "referenceName": "datalakest01exploration",
              "type": "LinkedServiceReference"
            },
            "path": "adfstage"
          }
        },
        "inputs": [
          {
            "referenceName": "Nuudl_NetCracker_DynamicDataset",
            "type": "DatasetReference",
            "parameters": {
              "TableName": "netcracker.billsummary"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "nuudwsqldb01_DynamicDataset",
            "type": "DatasetReference",
            "parameters": {
              "TableName": "[sourceNuudlNetCracker].[billsummary]"
            }
          }
        ]
      },
      {
        "name": "Merge_To_History",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Copy_billsummary",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "storedProcedureName": "[nuuMeta].[LoadSourceObjectHistory]",
          "storedProcedureParameters": {
            "ExtractTable": {
              "value": "sourceNuudlNetCracker.billsummary",
              "type": "String"
            },
            "LoadIsIncremental": {
              "value": "@pipeline().parameters.JobIsIncremental",
              "type": "Boolean"
            },
            "HistoryTrackingColumns": {
              "value": "",
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "nuudwsqldb01",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Last_Value_Loaded",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Merge_To_History",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "storedProcedureName": "[nuuMeta].[SetLastLoadedValue]",
          "storedProcedureParameters": {
            "SourceConnectionName": {
              "value": "Nuudl_NetCracker",
              "type": "String"
            },
            "SourceSchemaName": {
              "value": "netcracker",
              "type": "String"
            },
            "SourceTableName": {
              "value": "billsummary",
              "type": "String"
            },
            "WatermarkIsDate": {
              "value": "False",
              "type": "Boolean"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "nuudwsqldb01",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "parameters": {
      "JobIsIncremental": {
        "type": "Bool",
        "defaultValue": "true",
        "identity": "JobIsIncremental"
      },
      "WriteBatchSize": {
        "type": "Int",
        "defaultValue": 10000,
        "identity": "WriteBatchSize"
      }
    },
    "folder": {
      "name": "0.1_Extracts"
    }
  }
}