ADF/templates/Template_Pipeline_Extract_Full_History_Standard_Navision.json
{
    "name": "<%ADFPipelineName%>",
    "properties": {
        "activities": [
            {
                "name": "SP_Truncate Table",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[meta].[ExtractTruncateTable]",
                    "storedProcedureParameters": {
                        "ExtractSchemaName": {
                            "value": "<%ADFExtractSchemaName%>",
                            "type": "String"
                        },
                        "TableName": {
                            "value": "<%ADFTableName%>",
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "<%ADFDestinationLinkedService%>",
                    "type": "LinkedServiceReference"
                }
            }, 
            {
                "name": "Lookup_Companies",
                "type": "Lookup",
		"dependsOn": [
                    {
                        "activity": "SP_Truncate Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlSource",
                        "sqlReaderQuery": "SELECT Item AS NavisionCompany FROM meta.SplitString('<%ADFNavisionCompanies%>',',')"
                    },
                    "dataset": {
                        "referenceName": "<%ADFDestinationDatasetName%>",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableName": "meta.SourceObjectDefinitions"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach_Company",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_Companies",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_Companies').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
		{
                "name": "Copy_<%ADFTableName%>",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "<%ADFCopySourceType%>",
                        "sqlReaderQuery": "<%ADFSQLScript%>"
                    },
                  "sink": {
                    "type": "SqlSink",
                    "writeBatchSize": "@pipeline().parameters.WriteBatchSize",
                    "preCopyScript": ""
                  },
                    "enableStaging": false,
                    "cloudDataMovementUnits": 0
                },
                 "inputs": [
                    {
                        "referenceName": "<%ADFSourceDatasetName%>",
                        "type": "DatasetReference",
                         "parameters": {
                            "TableName": "<%ADFSourceTable%>"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "<%ADFDestinationDatasetName%>",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableName": "<%ADFTargetTable%>"
                        }
                    }
                ]
                        }
                    ]
                }
            },
            {
                "name": "SP_MergeToHistory",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "ForEach_Company",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "storedProcedureName": "[meta].[LoadSourceObjectHistory]",
                    "storedProcedureParameters": {
                        "ExtractTable": {
                            "value": "<%ADFExtractSchemaName%>.<%ADFTableName%>",
                            "type": "String"
                        },
			"LoadIsIncremental": {
                            "value": "false",
                            "type": "Boolean"
                        },
			"SCD2Columns": {
                            "value": "<%ADFSCD2Columns%>",
                            "type": "String"
                        },
			"PrintSQL": {
                            "value": 0,
                            "type": "int32"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "<%ADFDestinationLinkedService%>",
                    "type": "LinkedServiceReference"
                }
            }
        ],
      "parameters": {        
        "JobIsIncremental": {
          "type": "Bool",
          "defaultValue": "false",
          "identity": "JobIsIncremental"
        },"WriteBatchSize": {
          "type": "Int",
	  "defaultValue": 10000,
          "identity": "WriteBatchSize"
        }
      },
	  "folder": {
            "name": "<%ADFFolderName%>"
        }
    }
}